<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../../assets/style/navbar.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
    <ul>
      <li>
        <a href="/api/home">
          <i class="fas fa-home"></i> <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a href="/api/post/list">
          <i class="fas fa-pencil-alt"></i> <span>Quản lý bài đăng</span>
        </a>
      </li>
      <li>
        <a href="/api/user/show-list">
          <i class="fas fa-users"></i> <span>Quản lý người dùng</span>
        </a>
      </li>
      <li>
        <a href="/api/reports/list">
          <i class="fas fa-exclamation-triangle"></i> <span>Quản lý báo cáo</span>
        </a>
      </li>
      <li>
        <a href="/api/stats/sum">
          <i class="fas fa-chart-bar"></i> <span>Thống kê</span>
        </a>
      </li>
      <li>
        <a href="/api/support_customer">
          <i class="fas fa-headset"></i> <span>Hỗ trợ khách hàng</span>
        </a>
      </li>
      <li>
        <a href="/api/BuildingPage">
          <i class="fas fa-headset"></i> <span>Toà nhà & căn hộ</span>
        </a>
      </li>
      <li>
        <a href="/api/home">
          <i class="fas fa-sign-out-alt"></i> <span>Đăng xuất</span>
        </a>
      </li>
    </ul>
  </nav>
</body>

</html>