<form action="/api/post/update/<%= upDB._id %>" method="POST" onsubmit="return validateForm(event)">
    <table>
        <tr>
            <h3>Lưu ý:</h3>
            <p>Trạng thái 1 là đang hiện</p>
            <p>Trạng thái 0 là đã bị ẩn</p>
        </tr>
        <tr>
            <th><label for="id">ID bài viết</label></th>
            <td><input type="text" id="id" name="id" value="<%= upDB._id %>" readonly /></td>
        </tr>
        <tr>
            <th><label for="status">Trạng thái</label></th>
            <td>
                <select id="status" name="status" required>
                    <option value="0" <%=(upDB.status=='0' ) ? 'selected' : '' %>>0</option>
                    <option value="1" <%=(upDB.status=='1' )? 'selected' : '' %>>1</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn">Cập nhật bài viết</button>
                <a href="/api/post/list" class="btn">Trở lại danh sách</a>
            </td>
        </tr>
    </table>
</form>
<script>
    function validateForm(event) {
        const status = document.getElementById('status').value;
        if (status !== '0' && status !== '1') {
            alert('Status chỉ có thể là số 0 hoặc 1.');
            return false;
        }
        return true;
    }

</script>
<style>
    table {
        width: 50%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    input[type="text"],
    select {
        font-size: 18px;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #2ba8ca;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>