<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang với Header </title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #ee660b;
            color: #ddd;
            padding: 15px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .header-logo {
            font-size: 24px;
            color: #fff;
        }

        .header-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
            margin: 0 auto;
        }

        .header-nav a {
            color: #ddd;
            text-decoration: none;
            font-size: 25px;
            transition: color 0.3s;
        }

        .header-nav a:hover {
            color: #1abc9c;
        }

        .social-icons {
            display: flex;
            gap: 15px;
        }

        .social-icons a {
            color: #ddd;
            font-size: 20px;
            text-decoration: none;
            transition: color 0.3s;
        }

        .social-icons a:hover {
            color: #1abc9c;
        }
    </style>
</head>

<body>

    <!-- Header -->
    <header>
        <div class="header-logo">
            <img src="/public/image/logo.png" alt="Logo" />
        </div>

        <ul class="header-nav">
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Dịch Vụ</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
        <div class="social-icons">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </header>
</body>

</html>